<%= div_for(message) do %>
  <li>
    <% unless message.user.student? %>
      <strong class="primary-font" data-user-id="<%= message.user.id %>">
         <font color="red"><%= message.user.user_name %></font>
      </strong>
    <% else %>
      <strong class="primary-font" data-user-id="<%= message.user.id %>">
        <%= message.user.user_name %>
      </strong>
    <% end %>
    <p>
      <%= message.content %>
    </p>
  </li>
<% end %>
