<div class="mdl-layout__tab-panel is-active" id="overview">
  <section class="section--center--login mdl-grid mdl-grid--no-spacing mdl-shadow--2dp">
    <div class="mdl-card mdl-cell mdl-cell--12-col">
      <div class="mdl-card__supporting-text">
        <h4>login</h4>
      </div>
      {{paper-input label="username" value=name}}
      {{paper-input label="password" type="password" value=password}}
      <div class="mdl-card__actions">
      {{#if name}}
        {{#if password}}
          <a class="mdl-button mdl-button--raised mdl-js-button" {{action 'authenticate'}}>
            login
          </a>
        {{else}}
         <a class="mdl-button mdl-button--raised mdl-js-button" disabled>
           login
         </a>
       {{/if}}
      {{else}}
        <a class="mdl-button mdl-button--raised mdl-js-button" disabled>
          login
        </a>
      {{/if}}
      </div>
    </div>
  </section>
</div>
