<p id="notice"><%= notice %></p>

<h1>Listing Messenges</h1>

<table>
  <thead>
    <tr>
      <th>Sender</th>
      <th>Content</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @messenges.each do |messenge| %>
      <tr>
        <td><%= messenge.sender %></td>
        <td><%= messenge.content %></td>
        <td><%= link_to 'Show', messenge %></td>
        <td><%= link_to 'Edit', edit_messenge_path(messenge) %></td>
        <td><%= link_to 'Destroy', messenge, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Messenge', new_messenge_path %>
