<p id="notice"><%= notice %></p>

<p>
  <strong>Sender:</strong>
  <%= @messenge.sender %>
</p>

<p>
  <strong>Content:</strong>
  <%= @messenge.content %>
</p>

<%= link_to 'Edit', edit_messenge_path(@messenge) %> |
<%= link_to 'Back', messenges_path %>
