<%= simple_form_for(@course) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :name %>
    <%= f.input :mon %>
    <%= f.input :tue %>
    <%= f.input :wed %>
    <%= f.input :thu %>
    <%= f.input :session_time %>
    <%= f.input :session_time_out %>
    <%= f.input :description %>
    <%= f.input :start_date %>
    <%= f.input :end_date %>
    <%= f.input :in_session %>
    <%= f.input :channel_id %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
